$primary-color: #ffffff; // White
$secondary-color: #070d59; // Dark Blue
$tertiary-color: #1f3c88; // Medium Metal
$quaternary-color: #75a6db; // Light blue

$primary-font: roboto, sans-serif;
$secondary-font: coniferous, sans-serif;