.professionels {
  padding: 0 50px;
  color: black;
  h3 {
    font-family: $primary-font;
  }
  h4 {
    text-transform: uppercase;
  }
}
.professionel {
  border-bottom: black solid 2px;
}

.main__profesionnel {
  .flip-card-front {
    font-size: 6em;
    top: 35%;
  }
}