aside {
  display: block;
}

.aside__personnal__body {
  p {
    padding: 0;
    margin: 10px 0;
  }
  a{
    text-decoration: none;
    color: black;
    font-size: 1em;
    padding: 5px 10px;
    margin: 5px 0;

    &:hover {
      background-color: #1f3c88;
      border-radius: 20px;

    }
  }

}