header{
  overflow: hidden;
  h1 {
    color: #75a6db;
    margin: 0;
    padding-top: 10%;
    font-size: 3em;
    line-height: 1;
  }
  h2 {
    color: #75a6db ;
    padding-top: 10%;
    font-size: 3em;
    margin: 0;
    line-height: 1;
  }
}