.header {
    text-align: center;
    position: relative;
    background-color: $secondary-color;
}
.header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;/*100%*/
    height: 100%;
    background: $primary-color;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    overflow: hidden;
    img{
        object-fit: fill;
    }
}
.header:hover .header__img {
    transform: perspective(0px) rotateY(0deg);
}

.header__body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-size:2em;
    font-weight: 600;
    h1, h2 {
        margin: 0;
    }
}
