.main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.main__etude {
    grid-column: span 5;

    position: relative;
    text-align: center;
    a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    background-color: $tertiary-color;
}
.main__profesionnel {
    grid-column: span 8;
    position: relative;
    text-align: center;
    a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    background-color: $primary-color;
}
.main__competence {
    grid-column: span 3;
    position: relative;
    text-align: center;
    a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    background-color: $quaternary-color;

}